#recipe-list{
	margin: auto;
}

.card{
	margin-left: 20px;
	margin: auto;
}

.card:hover{
	background-color: pink;
	color: white;
}



.btn{
	width: 90%;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.card {
	float: left;
	width: 50%;
	padding: 10px;
	margin-left:5.5rem;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 1281px){ 
	.card{
		width:39%;
		margin-left:6rem;
	}
	
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){ 
	.card{
		width:38%;
		margin-left:5.5rem;
	}
	
}
  
@media only screen and (min-width: 769px) and (max-width: 1023px) { 
	.card {
		width:40%;
		margin-left:4.5rem;
		margin-right: -2.5rem;
	}
	
}

@media screen and (min-width:600px) and (max-width: 768px) {
	.card {
		width: 80%;
		margin-left:4rem;

		
	}
}

@media screen and (max-width:599px){
	.card {
		width: 100%;
		margin-left:0rem;

		
	}
}

