.btn{
	width: 90%;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.description-container {
    display: flex;
    align-items: center; 
    
   }

.logo {
    max-width: 30%;
    max-height: 30%;
    margin-left: 5rem;
	
  }

.description {
    font-size: 20px;
    padding-left: 20px;
    
}
