/*
 *This page will have all the styling for the recipe page

1 rem = 16 px

variables in css: 
:root{
	--var_name: value
} 

to use the variable: 
var(--val_name)

 * */

:root{
	--body_left_margin: 1.5rem;
	--buttons_bottom_margin: 1.5rem;
	--buttons_top_margin: 1.6rem;
	--instructions_top_margin: 1.6rem;
}

#nav-buttons{
	width: 50%;
	margin-top: var(--buttons_top_margin);
	margin-bottom: var(--buttons_bottom_margin);
}

.btn{

	font-size: 1.3rem;
	background-color: rgb(235, 166, 87);
	border-color:rgb(186, 131, 30);
	color:rgb(255, 255, 255);
   
}
  
.btn:hover{
  
	background-color:rgb(186, 131, 30);
	border-color:rgb(186, 131, 30);
	
}

button{
	width: 50%;
}

body{
	margin-left: var(--body_left_margin);
	font-family: 'Architects Daughter';
	
}


#recipe-instructions{
	margin-top: var(--instructions_top_margin);
	font-size: 1.5rem;
}

#ingredients-and-measurements {

	font-size: 1.5rem;
}

.column{
	float: left;
	width: 50%;
	padding: 10px;
}
  
.info-container:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 600px) { 
	.column {
		width:100%;
	}
  }


/*medium devices: landscape tablets, etc. and up*/
@media only screen and (min-width: 768px){
	:root{
		--body_left_margin: 10px;
	}
}


/*large devices: laptops/desktops, etc. and up*/
@media only screen and (min-width: 992px){
	:root{
			--body_left_margin: 10px;
	}
}


/*extra large devices: large laptops and desktops*/
@media only screen and (min-width: 1200px){


}

