/*
 *This page will have all the styling for the index page

1 rem = 16 px

variables in css: 
:root{
	--var_name: value
} 

to use the variable: 
var(--val_name)

 * */

:root{
	--nav_buttons_bottom_margin: 1rem;
	--search_max_width: 40rem;
}


body {
	font-family: 'Architects Daughter';
	text-align: center;
}

h1{
	text-align: center;
	font-size: 5rem;
}


.btn
{
	border-color:rgb(186, 131, 30);
	color:rgb(186, 131, 30);
	font-size: 1.5rem;
}

.btn:hover
{
	background-color:rgb(186, 131, 30);
	border-color:rgb(186, 131, 30);
	color:white ;
}

.container-fluid{

	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn-group{

	width:auto;
	position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.input-group {

	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	

}

.form-control::placeholder{

	font-size:1.2rem;
}

#search button{

	background-color: rgb(235, 166, 87);
	color: white;
	
}

#search button:hover
{
	background-color:rgb(186, 131, 30);
	border-color:rgb(186, 131, 30);
	color:white ;
}

#nav-buttons{
	margin-bottom: var(--nav_buttons_bottom_margin);
	
}

#search{
	max-width: var(--search_max_width);
	margin: auto;
}

@media screen and (min-width: 1024px){

	
	
}

/*medium devices: landscape tablets, etc. and up*/
@media only screen and (min-width: 769px) and (max-width:1023px){

	.btn{

		font-size: 1.7rem;
	}
	.form-control::placeholder{

		font-size:1.5rem;
	}
	
}

/*large devices: laptops/desktops, etc. and up*/
@media only screen and (min-width: 600px) and (max-width:768px){

	.btn{

		font-size: 1.8rem;
	}
	.form-control::placeholder{

		font-size:1.6rem;
	}
	.input-group{
		width:80%;
	}
	
}

@media screen and (max-width:599px){

	.input-group{
		width:90%;
	}
}


