/*
 *This page will have all the styling for the index page

1 rem = 16 px

variables in css: 
:root{
	--var_name: value
} 

to use the variable: 
var(--val_name)

 * */

:root{
	--nav_buttons_bottom_margin: 1rem;
	--search_max_width: 40rem;
}


body {
	font-family: 'Architects Daughter';
	text-align: center;
}

h1{
	text-align: center;
	font-size: 5rem;
	margin-right: 20rem; 
	padding-right: 15px;
	
   
}


.logo {
    max-width: 15%;
    max-height: 15%;
	float:left;
	margin-left: 25rem;    
	
  }


.btn
{
	border-color:rgb(186, 131, 30);
	color:rgb(186, 131, 30);
	font-size: 1.6rem;
}

.btn:hover
{
	background-color:rgb(186, 131, 30);
	border-color:rgb(186, 131, 30);
	color:white ;
}

.container-fluid{

	position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center; 
	display: flex; 
	align-items: center;

}

.btn-group{

	width:auto;
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.input-group {

	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	

}

.form-control::placeholder{

	font-size:1.2rem;
}

#search button{

	background-color: rgb(235, 166, 87);
	color: white;
	
}

#search button:hover
{
	background-color:rgb(186, 131, 30);
	border-color:rgb(186, 131, 30);
	color:white ;
}

#nav-buttons{
	margin-bottom: var(--nav_buttons_bottom_margin);
	
}

#search{
	max-width: var(--search_max_width);
	margin: auto;
}

@media screen and (min-width: 1280px){

	h1 {
        margin-right: 20rem; 
        margin-left: rem; 
        padding-right: 0;
        text-align: center; 
		
	}

    .logo {
		max-width: 20%;
    	max-height: 20%;
        margin-left: 20rem; 
        margin-right: 0rem; 
        float: none; 
        display: block; 
		
        
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){

	.btn{

		font-size: 1.7rem;
	}

	h1 {
        margin-right: 18rem; 
        margin-left: 0rem; 
        padding-right: 0;
        text-align: center; 
	}

    .logo {
		max-width: 25%;
    	max-height: 25%;
        margin-left: 12rem; 
        margin-right: 0rem; 
        float: none; 
        display: block; 
        
    }

	.form-control::placeholder{

		font-size:1.3rem;
	}
	
}

/*medium devices: landscape tablets, etc. and up*/
@media only screen and (min-width: 769px) and (max-width:1023px){

	.btn{

		font-size: 1.7rem;
	}

	h1 {
        margin-right: 15rem; 
        margin-left: 0rem; 
        padding-right: 0;
        text-align: center; 
	}

    .logo {
		max-width: 30%;
    	max-height: 30%;
        margin-left: 5rem; 
        margin-right: 0rem; 
        float: none; 
        display: block; 
        
    }

	.form-control::placeholder{

		font-size:1.3rem;
	}

	
}

/*large devices: laptops/desktops, etc. and up*/
@media only screen and (min-width: 600px) and (max-width:768px){

	.btn{

		font-size: 1.8rem;
	}

	h1 {
        margin-right: 4rem; 
        margin-left: 0; 
        padding-right: 0;
        text-align: center; 
	}

    .logo {
		max-width: 35%;
    	max-height: 35%;
        margin-left: 0; 
        margin-right: 0; 
        float: none; 
        display: block; 
        margin: auto; 
    }
	
	.form-control::placeholder{

		font-size:1.4rem;
	}
	.input-group{
		width:90%;
	}
	
}

@media screen and (max-width:599px){

	.btn{

		font-size: 1.8rem;
	}
	
	h1 {
        margin-right: 5rem; 
        margin-left: 0; 
        padding-right: 0;
        text-align: center; 
	}

    .logo {
		max-width: 35%;
    	max-height: 35%;
        margin-left: 0; 
        margin-right: -2rem; 
        float: none; 
        display: block; 
    }

	.form-control::placeholder{

		font-size:1.4rem;
	}

	.input-group{
		width:90%;
	}
}


