body {
	font-family: 'Architects Daughter';
}

.btn{
	width: 90%;
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: 1.3rem;
	background-color: rgb(235, 166, 87);
  	border-color:rgb(186, 131, 30);
	color:rgb(255, 255, 255);
}

.btn:hover{

	background-color:rgb(186, 131, 30);
  	border-color:rgb(186, 131, 30);
}

#tutorialInstructions p{

	font-size: 2rem;
}

#tutorialInstructions ul{

	font-size: 1.5rem;
}

